
    <header>
        <h1>Catalogue Des Applications</h1>
    </header>
    <main>
        <div class="app-container">
            <div class="app-card">
                <a href="prod1-app-001:7103/CapitalBankerApp/" target="_blank">
                    <img src="assets/icons/cbs.jpeg" alt="Intranet">
                    <h2>CAPITAL-BANKER</h2>
                </a>
            </div>
            <div class="app-card">
                <a href="/appliaub:8082/login" target="_blank">
                    <img src="assets/icons/computer-network.png" alt="Intranet">
                    <h2>AUB-DOC</h2>
                </a>
            </div>
            <div class="app-card">
                <a href="192.168.10.15:8085" target="_blank">
                    <img src="assets/icons/cheque.png" alt="Bac Chèque">
                    <h2>Chèquier</h2>
                </a>
            </div>
            <div class="app-card">
                <a href="/appli/bac-cheque" target="_blank">
                    <img src="assets/icons/folders.png" alt="Bac Chèque">
                    <h2>GED</h2>
                </a>
            </div>
            <!-- Ajoutez d'autres applications ici -->
        </div>
    </main>

